button {
  margin-top: 25px;
  width: 100%;
  padding: 12px 0;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #dbe9ff, #f6f9ff);
  color: #333;
  min-height: 100vh;
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  background: #00000020;
  color: #fff;
  text-align: center;
  padding: 25px 0;
  
}

.site-title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}


.content-area {
  flex: 1;
  background: #00000020; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer {
  background: #f1f1f1;
  color: #555;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

@media (max-width: 768px) {
  .content-area {
    padding: 20px;
  }
  .site-title {
    font-size: 22px;
  }
}



.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); 
 
}

.login-box {
  background: #fff;
  padding: 20px 70px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.btn-login {
  background: #007bff;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 12px 0;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background: #0056b3;
}

.error-messages {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.error-messages li {
  color: #ff4d4f;
  font-size: 14px;
}


.signup-text {
  margin-top: 15px;
  font-size: 15px;
  color: #555;
}

.signup-link {
  color: #007bff;
  font-weight: 600;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}


@media (max-width: 500px) {
  .login-box {
    padding: 35px 25px;
  }
  .login-title {
    font-size: 24px;
  }
}


.home-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}


.logout-btn {
  background-color: #dc3545; 
}

.logout-btn:hover {
  background-color: #b52a37;
}


.logout-form {
  margin-top: 10px;
}
